.date-app{
    position: absolute;
    right: 0;
}


/*Estilos del dropdown de clases*/
.drop-classes{
    z-index: 1;
    width: auto !important;
}
.container-classes{
	overflow-x: hidden;
	max-height: 265px;
}
.selected-in-dropdown-mobile{
    display: none !important;
}
.container-classes::-webkit-scrollbar{
	width: 4px;
	height: 4px;
	margin-top: 20px;
	background-color: #343635;
}
.container-classes::-webkit-scrollbar-thumb{
	background: #47BC82;
	border-radius: 2px;
}
.search-classes{
    display: flex;
    border-bottom: 1px solid #2D2F2E;
}
.icon-search{
    position: absolute;
    right: 0;
    margin-right: 12px;
    margin-top: 5px;
}
.input-search::placeholder{
    font-size: 12px;
    line-height: 18px;
}

/*Esilos del grafico*/

#cy {
    width: 100%;
    height: 700px;
    display: block;
    background-color: #131514;
}

/*Estilos del degree del grafico*/

input[type="range"]::-webkit-slider-thumb {
    background: url('../../public/iconDegree.png') #47BC82;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}
.container-degree{
    position: relative;
}
.input-degree{
    z-index: 1;
    position: relative;
}
.input-degree span{
    position: absolute;
    font-size: 45px;
    color: #8A8A8A;
    margin-top: -24px;
}
.plus{
    margin-left: 7px;
}
.less{
    margin-left: -20px;
}
.range-labels{
    position: absolute;
    display: flex;
    list-style: none;
    color: white;
    top: 55%;
    left: 49%;
    transform: translate(-50%, -41%);
    text-align: center;
}
.range-labels *{
    margin: 35px;
    font-size: 15px;
    color: #282A29;
}
.level-degree{
    color: #ABABAB;
}
.degree{
    background-color: #131514;
    margin-top: -30px;
}
.target-popper {
    display: none;
    color: white;
    z-index: 2;
}
.active{
    display: block;
}

/*Estilos de metricas de las clases*/

.metric{
    background: #131514;
    width: 341px;
}
.container-metrics{
    width: 341px;
    height: auto;
    background: #131514;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.container-classes-metric{
    justify-content: center;
    width: 320px;
    height: auto;
    max-height: 241px;
    border-radius: 8px;
}
.container-father{
    text-align: left;
    direction: ltr;
    display: flex;
    flex-wrap: wrap;
}
.fathers{
    font-size: 10px !important;
    line-height: 18px !important;
    word-break: break-all;
}
.fathers-metric{
    width: 320px;
    height: auto;
    max-height: 85px;
    overflow-y: scroll;
    direction: rtl;
}
.fathers-metric::-webkit-scrollbar{
    width: 4px;
	height: 4px;
	margin-top: 20px;
	background-color: #343635;
}
.fathers-metric::-webkit-scrollbar-thumb{
    background: #47BC82;
	border-radius: 2px;
}
.myclass{
    word-break: break-all;
}
.metrics-items:hover{
    color:#47BC82;
}
.metric-mobile{
    display: none !important;
    background-color: #131514;
}
.metric-table-title svg{
    margin-right: 5px;
}

/*Estilos de metricas de las tablas*/

.container-tables-metric{
    justify-content: center;
    width: 320px;
    height: auto;
    max-height: 241px;
    border-radius: 8px;
}
.fathers-tables-metric{
    width: auto;
    max-width: 180px !important;
}

/*Estilos de spinner*/

.spinner{
    height: 700px;
}
.spinner svg{
    width: 120px;
    height: 110px;
}
.container-step-desktop{
    display: none;
}

/*Animacion del pop-up del delete app*/
.message-deleted-app{
    position: absolute;
    right: 0;
    animation-name: slideUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideUp {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 40px;
      opacity: 1;
    }
  }
  /*Menu desplegable izquierdo*/

.container-list-apis{
    position: absolute;
}

.list-apis{
    width: 244px;
    margin-left: -10px;
    height: auto;
    max-height: 230px;
    background: #212322;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    z-index: 1000;
    position: relative;
    transition: transform 0.3s ease-in-out;
}
.list-apis.closed {
    transform: translateX(-214px);
  }
.container-close{
    height: 124px;
    position: absolute;
    right: 0;
    margin-right: -10px;
}

/*Estilos Tabla de las Apis*/
.tooltip-table {
    position: absolute;
    margin-top: -80px;
    margin-left: -80px;
    width: 205px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    z-index: 9999;
}
.tooltip-table p{
    font-size: 11px;
}
.container-apis{
    height: 791px;
    width: 1291px;
    position: relative;
    box-shadow: 0px -2px 18px 1px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
}
.close-api-table{
    position: absolute;
    right: 0;
}
.table-wrapper {
    overflow-y: scroll;
    height: fit-content;
    max-height: 600px;   
    margin-top: 22px;
    margin: 15px;
    padding-bottom: 20px; 
}
.table-apis {   
    min-width: max-content;   
    border-spacing: 0px;
    width: 100%;
    border-collapse: collapse;
}
.table-apis tbody{
    background-color: #212322;
}
.table-apis th{
    top: 0px;
    color: #D0D0D0;
    background-color: #181A19;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 500;
} 
.table-apis th, table td {   
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-apis tr:not(:last-child) {
    border-bottom: 3px solid #181A19;
  }

.table-apis td {
    width: auto;
    max-width: 150px;
    height: 50px;
    word-break: break-all;
    color: #ABABAB;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}
.table-wrapper::-webkit-scrollbar{
	width: 4px;
	height: 4px;
	background-color: #343635;
}
.table-wrapper::-webkit-scrollbar-track{
    margin-left: 20px;
}
.table-wrapper::-webkit-scrollbar-thumb{
	background: #47BC82;
	border-radius: 2px;
}

/* Estilos Modal Non-Apis */

.non-apis{
    width: 100%;
    height: 500px;
}

.container-modal-nonapis{
    position: absolute;
    width: 406px;
    height: 174px;
    background: #212322;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
}

.back-modal-nonapis{
    border: 1px solid #47BC82;
    border-radius: 8px;
    width: 172px;
    height: 38px;
    display: flex;
    justify-content: center;
    padding: 8px 16px;
}
@media only screen and (max-width:800px){
    .date-app{
        display: none;
    }

}
@media only screen and (max-width:600px){
    .container-home{
        margin-left: 0 !important;
        display: block !important;
    }
    #cy {
        width: 100%;
        height: 500px;
        display: block;
    }
    .switch-more{
        display: none !important;
    }
    .dropdown-container{
        display: flex !important;
        justify-content: center;
    }
    .drop-classes{
        margin-top: 44px;
        width: 335px !important;
    }
    .button-dropdown-classes{
        width: 324px !important;
    }
    .selected-in-dropdown{
        margin-right: 0px !important;
        display: none !important;
    }
    .selected-in-dropdown-mobile{
        margin-right: 0px !important;
        display: flex !important;
    }
    .container-switch{
        margin-top: 19px;
    }
    .interface-switch{
        margin-left: 0px !important;
    }
    .datastore-switch{
        margin-left: 57px !important;
    }
    .switch-text{
        font-size: 12px !important;
    }
    .range-labels {
        margin-top: 2px;
        margin-left: -12px;
    }
    .range-labels *{
        margin: 25px;
    }
    .metric{
        display: none !important;
    }
    .metric-mobile{
        display: flex !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-top: 70px;
        padding-bottom: 30px;
    }
    .container-classes{
        overflow: auto;
        max-width: 365px;
    }
    .line-degree{
        width: 250px !important;
    }
    .container-metrics{
        margin-bottom: 35px;
    }
    .spinner{
        height: 80vh;
    }
    .container-step-desktop{
        display: block;
        position: absolute;
        padding-bottom: 25px;
    }
    .step-desktop{     
        height: 75px !important;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
    }
    .step-desktop p{
        padding-left: 37px;
        padding-top: 13px;
    }
}
@media only screen and (max-width:430px){
    .step-desktop{
        height: 100px !important;
    }
    .step-desktop p{
        padding-left: 20px;
        padding-top: 16px;
    }
}
@media only screen and (max-width:375px){
    .step-desktop{
        height: 122px !important;
    }
    .step-desktop p{
        padding-right: 33px;
        padding-left: 31px;
    }
}
@media only screen and (max-width:360px){
    .step-desktop p{
        padding-left: 40px;
        padding-right: 40px;
    }
}