.date-app{
    position: absolute;
    right: 0;
}
.drop-classes{
    z-index: 1;
    width: auto !important;
}
.container-classes{
	overflow-x: hidden;
	max-height: 265px;
}

.container-classes::-webkit-scrollbar{
	width: 4px;
	height: 4px;
	margin-top: 20px;
	background-color: #343635;
}
.container-classes::-webkit-scrollbar-thumb{
	background: #47BC82;
	border-radius: 2px;
}
.search-classes{
    display: flex;
    border-bottom: 1px solid #2D2F2E;
}
.icon-search{
    position: absolute;
    right: 0;
    margin-right: 12px;
    margin-top: 5px;
}
.input-search::placeholder{
    font-size: 12px;
    line-height: 18px;
}
#cy {
    width: 100%;
    height: 700px;
    display: block;
    background-color: #131514;
  }
input[type="range"]::-webkit-slider-thumb {
    background: url('../../public/iconDegree.png') #47BC82;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

.container-degree{
    position: relative;
}
.input-degree{
    z-index: 1;
    position: relative;
}
.input-degree span{
    position: absolute;
    font-size: 45px;
    color: #8A8A8A;
    margin-top: -24px;
}
.plus{
    margin-left: 7px;
}
.less{
    margin-left: -20px;
}
.range-labels{
    position: absolute;
    display: flex;
    list-style: none;
    color: white;
    top: 55%;
    left: 49%;
    transform: translate(-50%, -41%);
    text-align: center;
}
.range-labels *{
    margin: 35px;
    font-size: 15px;
    color: #282A29;
}
.level-degree{
    color: #ABABAB;
}
.target-popper {
    display: none;
    color: white;
    z-index: 2;
}
.active{
    display: block;
}
.degree{
    background-color: #131514;
    margin-top: -30px;
}
.metric{
    background: #131514;
    width: 341px;
}
.container-metrics{
    width: 341px;
    height: auto;
    background: #131514;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.message-deleted-app{
    position: absolute;
    right: 0;
    animation-name: slideUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.spinner{
    height: 700px;
}
.spinner svg{
    width: 120px;
    height: 110px;
}
.container-classes-metric{
    justify-content: center;
    width: 320px;
    height: auto;
    max-height: 241px;
    border-radius: 8px;
}
.container-father{
    text-align: left;
    direction: ltr;
    display: flex;
  flex-wrap: wrap;
}
.fathers{
    font-size: 10px !important;
    line-height: 18px !important;
    word-break: break-all;
}
.fathers-metric{
    width: 320px;
    height: auto;
    max-height: 85px;
    overflow-y: scroll;
    direction: rtl;
}
.fathers-metric::-webkit-scrollbar{
	width: 4px;
	height: 4px;
	margin-top: 20px;
	background-color: #343635;
}
.fathers-metric::-webkit-scrollbar-thumb{
	background: #47BC82;
	border-radius: 2px;
}
.myclass{
    word-break: break-all;
}
.metric-mobile{
    display: none !important;
}
@keyframes slideUp {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 40px;
      opacity: 1;
    }
  }
@media only screen and (max-width:800px){
    .date-app{
        display: none;
    }

}
@media only screen and (max-width:600px){
    .container-home{
        margin-left: 0 !important;
    }
    #cy {
        width: 100%;
        height: 500px;
        display: block;
    }
    .switch-more{
        display: none !important;
    }
    .button-dropdown-classes{
        width: 130px !important;
        margin-left: 13px;
    }
    .selected-in-dropdown{
        margin-right: 0px !important;
    }
    .interface-switch{
        margin-left: 5px !important;
    }
    .datastore-switch{
        margin-left: 0px !important;
    }
    .switch-text{
        font-size: 12px !important;
    }
    .range-labels {
        margin-top: 2px;
        margin-left: -12px;
    }
    .range-labels *{
        margin: 25px;
    }
    .metric{
        display: none !important;
    }
    .metric-mobile{
        display: flex !important;
    }
    .container-classes{
        overflow: auto;
        max-width: 365px;
    }
    .line-degree{
        width: 250px !important;
    }
}