.container-my-app{
	background-color: #1E1E1E;
	height: 100vh;
	width: 100%;
}

.right-navbar{
	display: flex;
	right: 0;
	position: absolute;
}
.user *{
	margin: 5px;
}
.add-app *{
	margin: 5px;
}
.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.dropdownmy{
	top: 38px;
	margin-left: -125px;
	z-index: 1;
}
.signout{
	right: 0;
	position: absolute;
	margin-top: 39px;
	margin-right: 10px;
	cursor: pointer;
	z-index: 1;
}
.container-apps{
	overflow-x: hidden;
	max-height: 265px;
}
.container-apps::-webkit-scrollbar{
	width: 4px;
	height: 4px;
	margin-top: 20px;
	background-color: #343635;
}
.container-apps::-webkit-scrollbar-thumb{
	background: #47BC82;
	border-radius: 2px;
}
.container-apps-responsive{
	display: none;
	overflow-x: hidden;
	max-height: 265px;
}
.tab-responsive{
	display: none;
}
.logo-login{
	font-family: 'Play', sans-serif;
}
@media only screen and (max-width:1410px){
	.settigns{
		display: none !important;
	}

}
@media only screen and (max-width:1190px){
	.apps-full{
		display: none;
	}
	.container-apps{
		display: none;
	}
	.container-apps-responsive{
		display: block;
		position: relative;
	}
	.container-apps-responsive::-webkit-scrollbar{
		width: 4px;
		height: 4px;
		margin-top: 20px;
		background-color: #343635;
	}
	.container-apps-responsive::-webkit-scrollbar-thumb{
		background: #47BC82;
		border-radius: 2px;
	}
	.tab-responsive{
		display: block;
	}
}
@media only screen and (max-width:600px){
	.open-app{
		width: 140px !important;
	}
	.tabs{
		display: none !important;
	}
	.add-app{
		display: none !important;
	}
}