.delete-account-button:hover{
    color: white !important;
}
.container-delete-account-modal{
    position: absolute;
    right: 0;
}
.container-delete-account{
    position: absolute;
    right: 0;
}
.modal-container{
    position: absolute;
}
.container-cross-modal{
    position: absolute;
    right: 0;
    margin-top: 11px;
    margin-right: 11px;
    cursor: pointer;
}
.modal{
    background: rgba(18, 18, 18, 0.9)
}

.input-delete-account{
    width: 448px;
    height: 42px;
    background: #212322;
    border: 1px solid #505050;
    border-radius: 8px;
    margin-left: 32px;
    color: white;
}

.settings-modal{
    display: none;
}
.menu-settings-options{
    width: 1250px !important;
}
@media only screen and (max-width:1430px){
    .menu-settings-options{
        width: 1050px !important;
    }
    .menu-settings{
        width: 290px !important;
    }
    .account-maintenance{
        width: 266px !important;
    }
    .info-delete{
        width: 372px !important;
    }
}

@media only screen and (max-width:1350px){
    .menu-settings-options{
        width: 950px !important;
    }
    .menu-settings{
        width: 290px !important;
    }
    .account-maintenance{
        width: 266px !important;
    }
}

@media only screen and (max-width:1250px){
    .menu-settings-options{
        width: 950px !important;
    }
    .menu-settings{
        width: 210px !important;
    }
    .account-maintenance{
        width: 185px !important;
    }
    .info-delete{
        width: 382px !important;
    }
}

@media only screen and (max-width:1150px){
    .menu-settings-options{
        width: 850px !important;
    }
}
@media only screen and (max-width:1024px){
    .menu-settings-options{
        width: 750px !important;
    }
}

@media only screen and (max-width:699px){
    .container-settings{
        display: none !important;
    }
    .settings-modal{
        display: block;
    }
    .line-settings{
        width: 366px !important;
        border: 1px solid #2F3130;
        margin-top: 9px;
    }
    .container-delete-account{
        left: 0 !important;
        height: 38px !important;
    }
    .modal-container{
        width: 368px !important;
    }
    .input-delete-account{
        width: 304px !important;
    }
}