*, ::after, ::before {
	box-sizing: content-box;
}
.box > *, ::after, ::before  {
	box-sizing: border-box !important;
}
/*Login*/
.login-image-header{
	position: absolute;
	width: 100%;
	height: 100%;
}
.container-img{
	position:relative;
  	display:inline-block;
}
.container-img img{
	min-height: 100vh;
}
.container-img::before{
	background: linear-gradient(180deg, #47BC82 22.91%, #131514 100%);
	mix-blend-mode: multiply;
	width: 100%;
	position: absolute;
	content: "";
	height: 100%;
}
.sign-in{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
}
.container-information{
	width: 100%;
}
.monolithTo{
	width: 100%;
	position: absolute;
	bottom: 0;
}
/*My app*/
.container-my-app{
	background-color: #1E1E1E;
	height: 100vh;
	width: 100%;
}
.right-navbar{
	display: flex;
	right: 0;
	position: absolute;
}
.user *{
	margin: 5px;
}
.add-app *{
	margin: 5px;
}
.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.d-flex{
	display: flex;
}
.dropdownmy{
	margin-top: 39px;
	margin-left: 100px;
}
.dropdownmy::-webkit-scrollbar{
	width: 4px;
	height: 4px;
	margin-top: 20px;
	background-color: #343635;
}
.dropdownmy::-webkit-scrollbar-thumb{
	background: #47BC82;
	border-radius: 2px;
}
.signout{
	right: 0;
	position: absolute;
	margin-top: 39px;
	margin-right: 10px;
	cursor: pointer;
}
@media only screen and (max-width:600px){
	.container-img{
		display: none;
	}
	.sign-in{
		height: 100vh;
	}
	.container-policies{
		position: absolute;
		bottom: 0;
	}
	.add-app{
		display: none !important;
	}
	.settigns{
		display: none !important;
	}
	.open-app{
		width: 140px !important;
	}
}